.fresns-editor {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}

.fresns-editor .editor-alert .alert {
    line-height: 1.6;
}

.fresns-editor .editor-toolbar i {
    font-size: 1.5rem;
}

.fresns-editor .editor-toolbar span {
    font-size: 0.75rem;
    margin-top: -0.2rem;
}

.fresns-editor .editor-toolbar #emoji img {
    margin: 0.2rem;
    cursor: pointer;
}

.fresns-editor .editor-content {
    background-color: #fff;
}

/* file */
.editor-btn-delete {
    background-color: rgba(255,255,255,0.6);
}

/* file image */
.editor-file-image-1 .position-relative {
    width: 60%;
    margin-bottom: 0.5rem;
}
.editor-file-image-1 input {
    display: none;
}
.editor-file-image-2 .position-relative {
    float: left;
    width: 48%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-3 .position-relative {
    float: left;
    width: 31%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-4 .position-relative {
    float: left;
    width: 48%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-5 .position-relative {
    float: left;
    width: 31%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-6 .position-relative {
    float: left;
    width: 31%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-7 .position-relative {
    float: left;
    width: 31%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-8 .position-relative {
    float: left;
    width: 31%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.editor-file-image-9 .position-relative {
    float: left;
    width: 31%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

/* file image */
.editor-file-video .position-relative {
    width: 48%;
    float: left;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

/* file video */
.editor-btn-video-play {
    line-height: 0rem;
    padding: .15rem .4rem;
}
.editor-btn-video-play i {
    font-size: 2rem;
}

/* file audio */
.editor-file-audio audio {
    width: 100%;
}
.editor-file-audio .position-relative {
    margin-bottom: 0.5rem;
}

/* file doc */
.editor-file-doc .position-relative {
    margin-bottom: 0.5rem;
}
.editor-file-doc .editor-doc-box {
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    background-color: #f1f3f4;
    color: #5a5c66;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.editor-file-doc .editor-doc-icon {
    background-color: #f57f59;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
}
.editor-file-doc .editor-doc-name {
    margin-left: 0.75rem;
}

/* extend frame text */
.editor-frame-text {
    margin-bottom: 1rem;
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    border-left: 0.2rem solid #cccccc;
    background-color: #f5f8fa;
    color: #6c757d;
    font-size: 0.9rem;
    font-weight: 400;
    overflow: auto;
}
.editor-frame-text p {
    margin-bottom: 0.4rem;
}

/* extend frame info */
.editor-frame-info {
    margin-bottom: 1rem;
    background-color: #e9ecef;
    display: table;
    width: 100%;
}
.editor-frame-info:hover {
    background-color: #dee2e6;
}
.editor-info-img {
    display: table-cell;
    vertical-align: top;
    text-align: left;
}
.editor-info-body {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1rem;
    text-align: left;
}
.editor-info-btn {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1rem;
    text-align: right;
}

.editor-info-basis .editor-info-img,.editor-info-basis img {
    width: 50px;
    height: 50px;
}
.editor-info-big .editor-info-img,.editor-info-big img {
    width: 100px;
    height: 100px;
}
.editor-info-portrait .editor-info-img,.editor-info-portrait img {
    width: 90px;
    height: 100px;
}
.editor-info-landscape .editor-info-img,.editor-info-landscape img {
    width: 110px;
    height: 70px;
}
.editor-info-body .editor-info-title {
    font-size: 0.88rem;
    line-height: 1.3;
    color: #495057;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.editor-info-body .editor-info-desc {
    font-size: 0.8rem;
    color: #888888;
    margin-top: 0.4rem;
}